{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
        <h1 class="display-4">Photo assistant</h1><br>
        <p class="lead">Привет! Мы рады приветствовать тебя на нашем сайте,
            где ты можешь легко и быстро редактировать свои изображения.
            Мы предоставляем широкий выбор инструментов для обработки фотографий,
            рисунков и других изображений. Наш сервис поможет тебе улучшить качество своих снимков,
            добавить эффекты, и многое другое. Присоединяйся к нам и преврати свои фото
            в настоящие произведения искусства!</p>
        <hr class="my-1"><br>

    <H2 align="center">Добавляй эффекты</H2><br>
        <p><img src="static/image/example_effects/blue+.png" width="500" height="300" alt="Иллюстрация" align="left" vspace="5" hspace="5">
  Функция этого сайта позволяет пользователям добавлять
            различные эффекты к своим фотографиям, рисункам или снимкам.
            Пользователи могут выбирать из большого количества эффектов,
            таких как фильтры и многие другие, чтобы придать
            своему контенту уникальный и креативный вид, который удивит ваших друзей.
            Этот сайт предоставляет простой и интуитивно понятный интерфейс,
            который позволяет легко загрузить свой контент и применить выбранные эффекты.
             Благодаря этой функции, пользователи
            могут создавать качественный и оригинальный контент для социальных сетей,
            блогов и других платформ. Кроме того, добавление эффектов
            помогает привлечь внимание зрителей и создать запоминающийся контент.</p>
        <br><br><br><p class="lead" align="center">
          <a class="btn btn-primary btn-md" href="/choice_effects" role="button">Попробовать</a>
        </p><br>
        <hr class="my-1"><br>
    <H2 align="center">Удаляй фон</H2><br>
        <p><img src="static/image/delete_fon_example/example_rembg.png" width="500" height="300" alt="Иллюстрация" align="right" vspace="5" hspace="5">
 Функция удаления фона на сайте позволяет пользователям легко и быстро изменить фон изображения без использования сложных графических программ.
            Это особенно полезно при создании креативных фотографий или редактировании изображений для веб-дизайна.
            Функция удаления фона на сайте поможет пользователям быстро и легко создавать уникальные и
            креативные изображения без необходимости обращаться к профессиональным фотографам или графическим дизайнерам.</p>
        <br><br><br><p class="lead" align="center">
          <a class="btn btn-primary btn-md" href="/delete_fon" role="button">Попробовать</a>
        </p><br>
        <hr class="my-1"><br>
    <H2 align="center">Создай набросок</H2><br>
        <p><img src="static/image/sketch_example/example_sketh.png" width="500" height="300" alt="Иллюстрация" align="left" vspace="5" hspace="5">
    Функция "Создание наброска карандашом по фото" предназначена для тех пользователей, которым нужно быстро
            и легко преобразить цифровое изображение в набросок карандашом. С помощью этой функции вы сможете добавить
            артистичность и оригинальность к вашим фотографиям, сделав их похожими на рисунки, нарисованные карандашом.
            Преимущества функции включают в себя возможность создания стильных и необычных фотографий, привлекательных
            для зрителя, а также экономию времени и усилий при создании подобных эффектов вручную. Кроме того,
            использование набросков карандашом может быть полезно для тех, кто хочет подчеркнуть детали фотографии
            или скрыть недостатки. Функция "Создание наброска карандашом по фото" идеально подходит для дизайнеров,
            фотографов, художников и всех, кто хочет придать своим работам особую атмосферу и уникальность.</p>
        <br><br><br><p class="lead" align="center">
          <a class="btn btn-primary btn-md" href="/create_sketch" role="button">Попробовать</a>
        </p><br>
    </div>
{% endblock %}
