{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
        <h1 class="display-4">Стим закроют!</h1>
        <p class="lead">Ученые доказали что стим опасен, особенно такие игры как CS 2 и Dota 2, цченым ничего лучше не пришло как удалить его!</p>
        <hr class="my-1">
        <p>О том что будет дальше расскажем в этой статье</p>
        <p class="lead">
          <a class="btn btn-primary btn-md" href="second.html" role="button">Узнать</a>
        </p>
    </div>
{% endblock %}